<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu">
	<resultMap id="menuParentMap" type="gaw.logbook.auth.menu.Menu">
		<id column="MENU_ID" property="menuId" />
		<result column="PATH" property="path"></result>
		<result column="COLLAPSE" property="collapse"></result>
		<result column="NAME" property="name"></result>
		<result column="ICON" property="icon"></result>
		<result column="STATE" property="state"></result>
		<result column="COMPONENT" property="component"></result>
		<result column="LAYOUT" property="layout"></result>
	</resultMap>

	<select id="getListMenuParent" resultMap="menuParentMap">
		select
			menu.menu_id, comp.path, comp.is_parent as collapse, comp.name, comp.icon, comp.state, comp.component, comp.layout
		from
			AUTH.MENU menu join AUTH.COMPONENT comp on (menu.menu_id=comp.component_id)
		where menu.parent_id is null
		order by sort;
	</select>


	<resultMap id="menuChildMap" type="gaw.logbook.auth.menu.Menu">
		<id column="MENU_ID" property="menuId" />
		<result column="PARENT_ID" property="parentId"></result>
		<result column="PATH" property="path"></result>
		<result column="COLLAPSE" property="collapse"></result>
		<result column="NAME" property="name"></result>
		<result column="MINI" property="mini"></result>
		<result column="COMPONENT" property="component"></result>
		<result column="LAYOUT" property="layout"></result>
	</resultMap>

	<select id="getListMenuChild" parameterType="String" resultMap="menuChildMap">
		select
			menu.menu_id, menu.parent_id, comp.path, comp.is_parent as collapse,
			comp.name, comp.mini, comp.component, comp.layout
		from
			AUTH.MENU menu join AUTH.COMPONENT comp on (menu.menu_id=comp.component_id)
		where parent_id=#{parentId}
		order by sort
	</select>
</mapper>